/* cerner_2^5_2019
 * CSS to create right side floating panel that sticks to top edge
 * Based on https://dev.to/clairecodes/how-to-make-a-sticky-sidebar-with-two-lines-of-css-2ki7
 *
 * Example1: Simple web page with div sections using css classes below
   <div class="wrapper">
     <div class="main">
        Main content with long text to make page scrollable...
        
     </div>
     <div class="sidebar">
        Table of contents with links to sections...
        
     </div>
   </div>

 * Example2: Confluence wiki page using macro for div and css stylesheet
   {div macro with class=sidebar box}
       {toc macro}
    
   {div macro with class=main}
        Main content with long text to make page scrollable...

   {css macro}
        paste style defs below
*/

/* wrapper to contain all of page content */
.wrapper {
  display: flex;
  justify-content: space-between;
}
/* container for main content on page, with width that does not overlap with right float panel */
.main {
  width: 85%; 
  padding-right: 20px;
}
/* panel box with border and background color  */
.box {
	background: rgb(240,240,240);
	border: 1px solid #0096d6;
}
/* float panel using position: sticky */
.sidebar {
  width: 15%;
  height: fit-content;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}